@import './header.scss';
body, html {
    height: 100%;
    margin: 0;
    padding: 0;
   
  }
  
  .container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Căn đầu trang lên phía trên */
    flex-direction: column; /* Chia thành cột dọc */
  }
  
  .custom-form {
    width: 100%; /* Sử dụng 70% chiều ngang của trang */
    max-width: 4000px; /* Để đảm bảo form không quá rộng */
    margin: 0 auto;
  }
  
  .custom-form__image-container {
    text-align: left; /* Căn giữa theo chiều ngang */
    margin-top: -20px; /* Khoảng cách từ ảnh đến chữ "Đăng nhập" */
    width: 1200px;
  }
  
  .custom-form__button {
    background-color: black; /* Thay đổi màu nền của nút thành đen */
    font-size: 20px; /* You can adjust the font size as needed */
    margin-left: 10px; /* Add spacing between heading and button */
    vertical-align: middle; /* Align button vertically with the heading */
  }
  .custom-form__button-spacing {
    margin-left: 10px; /* Điều chỉnh khoảng cách theo nhu cầu */
  }