header.header.header--top
  nav.nav.nav--top-left
    ul.nav__list.nav__list--top
      li.nav__item
        a.nav__link(href="#") Tài khoản của tôi
      li.nav__item
        a.nav__link(href="#") Trạng thái đơn hàng
      li.nav__item
        a.nav__link(href="#") Danh sách ưu thích
      li.nav__item
        a.nav__link(href="#") Giỏ hàng
      li.nav__item
        a.nav__link(href="#") Đăng nhập
      li.nav__item
        a.nav__link(href="#") Đăng ký
  div.search-bar.search-bar--top
    input.search-bar__input(type="text" placeholder="Tìm kiếm...")
    button.search-bar__button(type="submit")
      i.fas.fa-search
header.header.header--bottom
  nav.nav.nav--bottom
    ul.nav__list.nav__list--bottom
      li.nav__item
        a.nav__link(href="#")
          img(src="./images/header.jpg" alt="symbol")
      li.nav__item
        a.nav__link(href="#") Trang chủ
      li.nav__item
        a.nav__link(href="#") Rượu vang đỏ
      li.nav__item
        a.nav__link(href="#") Rượu trắng
      li.nav__item
        a.nav__link(href="#") Champagne
      li.nav__item
        a.nav__link(href="#") Thông tin
      li.nav__item
        a.nav__link(href="#") Blog
      li.nav__item
        a.nav__link(href="#") Liên hệ

