
doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Khách hàng đăng nhập
    //- Link to Bootstrap CSS
    link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css")
    link(rel="stylesheet", href="./Css/signIn.css") 
  body
    include header1 
    .container
      .col-md-12.custom-form
        .d-flex.justify-content-between.align-items-center.mb-2
          div
            a.custom-form__link(href="#") Trang chủ / 
            a.custom-form__link(href="#") Đăng nhập
            h2.custom-form__title Đăng nhập
          button.btn.btn-dark.custom-form__button(type="submit") Đăng ký
        .image-container.custom-form__image-container
          img.img-fluid.custom-form__image(src="/images/titleleft-dark.png", alt="Ảnh đại diện")
        .card.custom-form__card
          .card-header.custom-form__card-header
            h3.text-center.custom-form__card-title Khách hàng đăng nhập
            p.text-center.custom-form__card-text Nếu bạn có 1 tài khoản xin hãy đăng nhập
          .card-body.custom-form__card-body
            form.custom-form__form
              .form-group.custom-form__form-group
                label.custom-form__label(for="email") Email:
                input.form-control.custom-form__input(type="email", id="email", placeholder="Nhập email")
              .form-group.custom-form__form-group
                label.custom-form__label(for="password") Mật khẩu:
                input.form-control.custom-form__input(type="password", id="password", placeholder="Nhập mật khẩu")
              .form-group.text-center.custom-form__form-group
                button.btn.btn-dark.custom-form__button(type="submit") Đăng nhập
          .card-footer.text-center.custom-form__card-footer
            a.custom-form__link(href="#") Quên mật khẩu
    
    include ./footer 