doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Khách hàng đăng ký
    link(rel="stylesheet", href="./Css/signIn.css")
    link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css")
  body
    include header1 
    .container
      .col-md-12.custom-form
        .d-flex.justify-content-between.align-items-center.mb-2
          div
            a.custom-form__link(href="#") Trang chủ / 
            a.custom-form__link(href="#") Đăng ký
            h2.custom-form__title Đăng ký
          a.btn.btn-dark.custom-form__button(href="signIn.html") Đăng nhập
        .image-container.custom-form__image-container
          img.img-fluid.custom-form__image(src="/images/titleleft-dark.png", alt="Ảnh đại diện")
          .card.custom-form__card
            .card-header.custom-form__card-header
              h3.text-center.custom-form__card-title Đăng ký
            .card-body.custom-form__card-body
              //- Include tệp formSignUp.pug vào đây
              include formSignUp.pug
    include footer